@media(min-width:240px) and (max-width:479px){
    body{
        width:100%;
        /* overflow-y:hidden; */
        margin:0px
    }
    
    .container{
       
       margin:0px;
        width: 100%;
    }
    .card-first{
        padding:0px;
        margin:0px;
    }
    .cards{
    display: grid;
    width:98%;
    margin:0px;
    }
    .card-first{
       margin:15px 0;
        width:100%;
    }
    .section-1{
        margin:0px;
    }
    .box{
        
    display: grid;
    width: 100%;
    margin: 0px;
    float: none;
    }
    .ls-border {
        border: 2px solid #000000;
        margin: 32px 0px 60px 0px;
    }
    .section-1{
        display: grid;
       
        width:100%;
    }
    .second{
        width: 83%;
        margin-top:20px
    }
    #first-n{
        text-align: center;
    }
    .second-we-seek{
        float: none;
    }
    body{
        padding:0px 10px;
    }
    .second{
        text-align: center;
    }
    .carrer-heading{
        margin: 43px 0px 43px 0px;
    }
    .first{
        margin-bottom:0px;
        width:82%;
    }
    .first-box{
        margin:0px;
    }
    .text-1 p {

        max-width: 91%;
        margin-bottom: 20px;
    }
    #first-n:after{
        width: 97%;
   
    margin-top: 47px;
    margin-left: 10px;
      left: 0px;
    }
    .first-box{
        width:98%;
    }
    .ls-button{
        width:100%;
    }
    .ls-last{
        font-size:35px;
    }
    .first-box{
        margin-bottom:0px;
    }
}