@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');

:root {
    --main-bg-color: #E5E5E5;
}

body{
    padding:0px 30px;
}
.carrer-heading
{
    margin: 100px 0px 56px 0px;
    font-size: 30px;
    text-align: center;
    font-family: 'Nunito';
    font-weight: bold;
}


.text-1 p {
    font-size: 28px;
    text-align: center;
    font-family: 'Nunito';
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
}

.section-1{
    display: flex;
    justify-content: center;
    margin: 60px 90px 80px 90px;
}

.first {
    border: 2px solid #000000;
    width: 32%;
    border-radius: 12px;
    padding: 37px 25px;
    margin: 18px 10px 120px 10px;
}

.Opportunities {
    float: left;
    width: 100%;
}
.intership-1 {
    float: left;
    width: 100%;
}

img.first-discover{
    width: 81%;
}
h4.first-discover {
    font-size: 16px;
    margin-top: 15px;
    font-family: 'Nunito';
}
h2.first-discover {
    font-size: 28px;
    margin-top: 5px;
    font-family: 'Nunito';
}

.second{
    border: 2px solid #000000;
    width: 32%;
    border-radius: 12px;
    padding: 37px 25px;
    margin: 120px 10px 18px 10px;
}
.second{
    text-align: center;
}

.second-we-seek{
    width: 81%;
    /* float: right; */
}

.mySlides-fade{
    text-align: center;
    font-size: 33px;
    font-family: 'Nunito';
}

#first-n{
    text-align: left;
    font-size: 34px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: 'Nunito';
}
#first-n:after{
    content: '';
    position: absolute;
    width: 20%;
    height: 3px;
    margin-top: 21px;
    margin-left: 30px;
    z-index: 1;
    background-color: #000;
}

.perks-section-2{
    display: flex;
}
.card-first {
    width: 33%;
    border: 2px solid#000;
    border-radius: 8px;
    padding: 30px 35px;
    margin: 18px 19px 20px 13px;
    text-align: center;
}

.cards {
    display: inline-flex;
    margin: 13px 70px 0px 70px;
}
.same{
    width: 30px;
    margin-top: 35px;   
}

.card-first h2 {
    font-size: 23px;
    font-family: 'Nunito';
    font-weight: bold;
    text-align: center;
    color: #000;
    margin-top: 20px;
}
.card-first p {
    font-size: 14px;
    text-align: center;
    font-family: 'Nunito';
    color: #000;
    margin-top: 15px;
}

.exp-t{
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Nunito';
}
.exp{
    text-align: left;
    font-size: 18px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    margin-top: -6px;
    font-family: 'Nunito';
}

.box{
    display: flex;
    justify-content: center;
    float: left;
    width: 100%;
    margin: 40px 0px 0px 0px;
    font-family: 'Nunito';
}
    
.first-box{
    border: 3px solid #8804F0;
    width: 37%;
    border-radius: 25px;
    margin: 18px 10px 120px 10px;
    text-align: center;
}
img.cend {
    width: 60%;
}
    
.box-heading{
    text-align: center;
    font-size: 23px;
}
    
.box-text{
    text-align: center;
    font-size: 15px;
}

.apply-1{
    color: #FFFFFF;
    background-color: #8804F0;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    width: 50%;
    height: 41px;
    font-size: 24px;
    margin-top: 48px;
    margin-bottom: 36px;
}

.apply-2{
    color: #FFFFFF;
    background-color: #8804F0;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    width: 50%;
    height: 41px;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 36px;
}
.ls-section{
    text-align: center;
    float: left;
    width: 100%;
    font-family: 'Nunito';
}

.ls-border{
    border: 2px solid #000000;
    margin: 0px 0px 60px 0px;
}

.ls-last{
    font-size: 45px;
    margin-bottom: 70px;
}

.ls-button{
    border: 1px solid #000000;
    color: #000000;
    border-radius: 7px;
    cursor: pointer;
    height: 48px;
    width: 18%;
    font-size: 22px;
}

.ls-bottom{
    border: 2px solid #000000;
    margin: 60px 10px 63px 10px;
}